
<div class="user-follors">
	
	<div class="user-follow-show">
		<div class="user-follors-title">
			<span class="user-follors-title-span">フォロー</span>
		</div>
		<% @user.following.each do |user| %>
			<div class="user-follors-main">
				<%= link_to user_path(user.id) do %>
					<div class="user-follors-main-username">
						<span><%= user.username %></span>
					</div>
					<div class="user-follors-main-image">
						<span><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "200x200" %></span>
					</div>
					<div class="user-follors-main-email">
						<span><%= user.email %></span>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

