<div class="container">
	<h2>最近の出来事</h2>
	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "20x20" %>
						<%= post.created_at %>
					</div>
					
					<div class="card-body">
						<h5 class="card-title">
							<%= post.title %>
						</h5>
					</div>
					<div class="card-footer"></div>

					<% if post.images.attached? %>
					  <% post.images.each do |image| %>
					    <%= image_tag image %> <br>
					  <% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>


