// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


		/*post-new*/

.post-new-main{
	background-image: url(zimen1.jpg);
	background-attachment: fixed;

}
.post-new-main-user{
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	float: left;
	margin-top: 90px;
	margin-left: 135px;
	text-align: center;
	background-color: #FFF;
	width: 280px;
	display:  block;
  	position:  relative;
  	animation: anime3 1s ease;
}
@keyframes anime3 {
    0% {
        opacity:  0;
        top: 50px;
    }
    100% {
        opacity:  1;
        top: 0;
    }
}
.post-new-userimage{
	transition-duration: 0.3s;
	margin-bottom: 15px;
}
.post-new-userimage:hover{
	transform: scale(1.1);
    transition-duration: 0.3s;
}
.post-new-main-user-title{
	padding-bottom: 80px;
	letter-spacing: 0.1em;
}


.post-new-main-posts{
	float: left;
	margin-left: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding:10px;
	width: 750px;
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	background-color: #FFF;
	display:  block;
  	position:  relative;
  	animation: anime3 1s ease;
}
@keyframes anime3 {
    0% {
        opacity:  0;
        top: 50px;
    }
    100% {
        opacity:  1;
        top: 0;
    }
}
.post-new-main-option-title{
	text-align: center;
	letter-spacing: 0.1em;
}
.post-option-title{
	font-size: 16px;
	margin-left: 10px;
}

.post-new-main-option-location{
	margin-bottom: 10px;
}
.post-new-main-option-genre{
	margin-bottom: 10px;
}
.post-new-main-option-post-title{
	margin-bottom: 10px;
}
#post_location[type="text"] {
        width: 200px;
        height: 40px;
        margin-left: 40px;
    }
#post_genre{
	margin-left: 8px;
}
#post_title[type="text"] {
		width: 250px;
        height: 40px;
        margin-bottom: 5px;
        margin-left: 40px;
}
#post_posted_details{
		width: 600px;
		height: 200px;
		margin-right: 15px;
		margin-left: 120px;
}
.post-new-main-option-post-new-up{
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 25px;
}
.post-new-main-flash{
	color: #FFF;
	background-color: red;
	font-size: 20px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-top: 10px;
}



        /*post-index*/


.index-main{
	background-image: url(beach1.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding-right: 120px;
	padding-left: 120px;
}
.index-main-card-container{
	column-count: 4;
}
.index-title{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	letter-spacing: 0.1em;
	font-family: serif;
	font-weight: bold;
}
.post-index-span{
	font-size: 43px;
}
.index-main-card{
	background-color: #FFF;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.5) 0 10px;
	margin: 5px 0 10px 0;
	width: 280px;
	height: 100%;
	padding-top: 12px;
	display: inline-block;
	color: #000;
	transition-duration: 0.2s;
}
.index-main-card:hover{
	-ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
	border-bottom: none;
    box-shadow: none;
    transition-duration: 0.2s;
}

.index-main-card-span{
	padding-left: 15px;
}
.index-main-card-posts-image{
	text-align: center;
	padding-top: 5px;
	transition-duration: 0.3s;
}
.index-main-card-posts-image:hover{
	transform: scale(1.1) rotate(5deg);
    transition-duration: 0.3s;
}
.index-main-card-posts-title{
	padding-top: 5px;
	padding-left: 20px;
	letter-spacing: 0.04em;
	font-family: serif;
}
.index-main-card-posts-main-title{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
}
.index-main-card-posts-created_at{
	text-align: right;
	padding-right: 20px;
	margin-bottom: 10px;
}
.index-main-comment-ster{
	padding-right: 5px;
}
.index-main-comment-ster-span1{
	font-size: 18px;
}



      /*post-show*/


.post-show{
	background-image: url(renga2.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.post-show-main{
	float: left;
	width: 750px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 100px;
	padding:15px;
	background-color: #FFF;
	display:  block;
  	position:  relative;
  	animation: anime3 1s ease ;
}
@keyframes anime3 {
    0% {
        opacity:  0;
        top: 50px;
    }
    100% {
        opacity:  1;
        top: 0;
    }
}
.post-show-main-user{
	float: left;
}
.post-show-main-title{
	float: left;
	width: 500px;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}
.post-show-main-images{
	padding-top: 5px;
	padding-bottom: 10px;
	height: 520px;
	white-space:nowrap;
  	overflow:scroll;
}

.post-show-main-option{
	padding: 10px;
	border-left: 1px  solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.post-show-main-created_at{
	float: right;
	margin-top: 50px;
}
.post-show-main-option-genre{
	text-align: right;
	padding-right: 40px;
}
.post-show-main-destroy{
	float: right;
	font-size: 23px;
	margin-top: 14px;
}
.post-show-commenter{
	font-size: 20px;
}
.post-show-main-comment{
	float: right;
	font-size: 23px;
	width: 33px;
	margin-top: 5px;
}
.post-show-comments{
	background-color: #000;
	border:3px solid #FFF;
}
.post-show-main-favorits{
	float: right;
	text-align: right;
	height: 50px;
	padding-right: 10px;
}
input.btn-lg{
	padding: 0;
	font-size: 20px;
}


.post-show-comments{
	float: left;
	width: 450px;
	height: 750px;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
	display:  block;
  	position:  relative;
  	animation: anime3 1s ease forwards;
}
.post-show-comments:hover{
}
@keyframes anime3 {
    0% {
        opacity:  0;
        top: 50px;
    }
    100% {
        opacity:  1;
        top: 0;
    }
}
.post-show-comments-title{
	text-align: center;
	color: #FFF;
}
.post-show-comments-main{
	background-image: url(line2.jpg);
	background-size: cover;
	display: block;
	overflow:auto ;
	height: 500px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 5px;
	background-color: #FFF;
}
.post-show-comments-main-comment{
	padding-left: 13px;
	padding-top: 5px;
}
.post-show-comments-main-comment-image{
	width: 30px;
	height: 30px;
}
.comment-username{
	font-size: 14px;
	color: #FFF;
}
.comment-chate{
	text-align: center;
	background-color: #3366CC;
	color: #FFF;
	padding-top: 7px;
	font-size: 20px;
}
.coment-hontai{
	color: #FFF;
	border-radius: 10px;
	padding: 3px;
	margin-left: 5px;
	margin-top: 3px;
}
.comment-top-image{
	width: 40px;
	height: 40px;
}
#comment_comment{
	width: 414px;
	border-radius: 0;
}
.sousinbotan{
	margin-left: 15px;
	display: block;
}
input.mt-10{
	margin-right: 15px;
	border-radius: 0;
	width: 414px;
}

     /*post-search*/

.search-main{
	background-image: url(yama1.jpg);
	background-attachment: fixed;
	background-size: cover;
	height:auto!important;
	width: 100%;
	padding-right: 120px;
	padding-left: 120px;
	height: 100%;
	min-height: 100%;
	color: #FFF;
}
.search-main-card-container{
	column-count: 4;
	color: #000;
}
.searchtitle{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.searchtitle-span{
	font-size: 30px;
}
.search-main-card{
	background-color: #FFF;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.5) 0 10px;
	margin: 5px 0 10px 0;
	width: 280px;
	height: 100%;
	padding-top: 7px;
	display: inline-block;
	color: #000;
	transition-duration: 0.3s;
  	position:  relative;
  	animation: anime3 1s ease;
}
.search-main-card:hover{
	-ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
	border-bottom: none;
    box-shadow: none;
    transition-duration: 0.3s;
}
.search-main-card-span{
	padding-left: 15px;
}
.search-main-card-posts-image{
	text-align: center;
	padding-top: 5px;
	transition-duration: 0.3s;
}
.search-main-card-posts-image:hover{
	transform: scale(1.05) rotate(5deg);
    transition-duration: 0.3s;
}
.search-main-card-posts-title{
	padding-top: 5px;
	padding-left: 20px;
	letter-spacing: 0.04em;
	font-family: serif;
}
.search-main-card-posts-main-title{
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
}
.search-main-card-posts-created_at{
	text-align: right;
	padding-right: 20px;
	margin-bottom: 10px;
}
















