// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*post-new*/

.post-new-title{
	text-align: center;
	letter-spacing: 0.3em;
	margin-top: 40px;
}
.post-new-userimage {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 10px;
}
.post-new-username {
	text-align: center;
	font-size: 20px;
	overflow: auto;
}
.post-new-email {
	text-align: center;
	font-size: 15px;
	overflow: auto;
}
.post-new-table-main {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding:10px;
	width: 600px;
	height: 400px;
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
}


.post-new-table-head-title-th {
	text-align: center;
	padding-bottom: 20px;
	letter-spacing: 0.5em;
}
.post-new-table-head-title-h4 {
	width: 130px;
	text-align: center;
}
.post-new-up {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
	padding-right: 45px;
}


#post_location[type="text"] {
        width: 200px;
        height: 40px;
    }
#post_title[type="text"] {
		width: 250px;
        height: 40px;
        margin-bottom: 5px;
}

#post_posted_details{
		width: 600px;
		height: 200px;
		margin-right: 15px;
}


        /*post-index*/

.enko-image1{
	background-image: url(enko2.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.posts-index-main-container{
	column-count: 4;
	padding-right: 135px;
	padding-left: 135px;
	background-color: transparent;
	background-size: top;
	height: 100%;
	width: 100%;
}
.post-index-p2{
	font-size: 32px;
	text-align: center;
	letter-spacing: 0.1em;
	padding-top:30px;
	padding-bottom: 35px;
	font-family: serif;
	margin-bottom: 0;
	background-image: url(enko2.jpg);
	background-attachment: fixed;
}

.posts-index-tbody-1-td{
	width: 1170px;
	height: 100%;
}

.posts-index-table-2{
	background-color: #FFF;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 10px;
	margin: 5px;
	width: 280px;
	height: 100%;
	display: inline-block;
}
.posts-index-thead-th-1{
	width: 35px;
}
.card-header-top-image{
	margin: 7px 5px 6px 15px;
}
.card-header-top-image-username{
	font-size: 18px;
	text-align: center;
	padding-right: 52px;
	font-weight: 600;
	font-family: serif;
}
.post-card-body-image{
	width: 250px;
	padding-right: 10px;
	padding-left: 10px;
}
.posts-index-thead-th-2{
	text-align: center;
}
.posts-index-tbody-2-td2{
	padding: 20px;
	font-size: 15px;
}
.posts-index-tbody-2-td2-h4{
	text-align: center;
}
.posts-title-title{
	letter-spacing: 0.04em;
	font-family: serif;
}
.posts-index-thead-th-2-h4{
	margin-right: 53px;
}
.post-card-footer-text{
	text-align: right;
	padding: 10px;
}


.posts-index-table-2{
  border:7px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.posts-index-table-2::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  box-shadow: inset 0px 0px 0px #6098FF;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.posts-index-table-2:hover::before {
  width:100%;
}

.posts-index-table-2::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.posts-index-table-2:hover::after {
  width:100%;
}
.posts-index-table-2:hover{
  border-left:7px solid #FF00FF;
  border-right:7px solid #FF00FF;
  border-top:7px solid #FF00FF;
  border-bottom:7px solid #FF00FF;
}



















      /*post-show*/

.post-show-main{
	float: left;
	width: 750px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 125px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.post-show-main-table1{
	width: 710px;
	margin-left: 20px;
}
.post-show-main-table1-tbody-td1{
	width: 100px;
	text-align: center;
}
.post-show-main-images{
	margin-left: 10px;
	margin-right: 10px;
}
.post-show-main-table1-tbody-td3{
	text-align: center;
	padding-left: 20px;
	padding-right: 100px;
}
.post-show-main-title-h2{
	font-size: 30px;
}
.post-show-main-created_at{
	width: 140px;
	margin-left: 590px;
}
.post-show-main-table2{
	width: 720px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
}
.post-show-main-genre-p{
	text-align: center;
	font-family: serif;
	font-size: 18px;
	letter-spacing: 0.15em;
	margin: 2px;
}
.post-show-main-genre{
	text-align: center;
}
.post-show-main-location-p{
	text-align: center;
	font-family: serif;
	font-size: 18px;
	letter-spacing: 0.15em;
	margin: 2px;
}
.post-show-main-location{
	text-align: center;
}
.post-show-main-posted_details{
	width: 720-180px;
	height: 100%;
	position: relative;
  	top: -40px;
  	left: 10px;
  	overflow: auto;
}



.post-show-comments{
	float: left;
	width: 420px;
	height: 500px;
	margin-left: 30px;
	margin-top: 30px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
}
.post-show-comments-title{
	text-align: center;
}









